.image {
          margin: auto;

  display:block;
     
   }
.topnav {
    background-color: black;
    overflow: hidden;
}

.buttonp {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonp {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.buttonp:hover {
    background-color: #008CBA;
    color: white;
}

.buttonh {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
  color: blue;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonh span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonh span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonh:hover span {
  padding-right: 25px;
}

.buttonh:hover span:after {
  opacity: 1;
  right: 0;
}

.topnav a {
    float: left;
    
    
    color: #f2f2f2;
    text-align: center;
       padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.container {
    text-align: center;
          margin: auto;

  display:block;
}

 #name {
      font-size: 30px;
    }    
#intro {
      font-size: 22px;
    }

