body {
  background-image: url("alpha-bg.jpg");
  background-repeat: no-repeat;
      background-size:  cover;

}
.bodytext {
  position: absolute;
  top: 20px;
  transform: scaleX(1);

}
.block {
  display: block;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row {
  width:60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
}
.imgbody {
  width: 94%;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
}

.column{
  vertical-align: bottom;
}
.imgbody{
  margin-top: 7px;
  margin-bottom: 7px;
  vertical-align: bottom;
}
/* Responsive layout - makes a two column-layout instead of four columns */
.lg {
  margin-top: 2px;
}

 .headertext{
  z-index: 4;
  color: white;
  position: absolute;
  font-size: 13px;

}

.tophead {
  width: 100%;
  position: relative;
  display: block;
}
.l3 {

  display: inline-block;
  position: absolute;
left: 0.5%;
}
.l2 {
  display: inline-block;

  position: absolute;
  left: 10%;
}

.l1 {
  position: absolute;
  display: inline-block;

  left: 20%;
}

.headcentre {
  display: inline-block;

  position: absolute;
  z-index: 3;

  right: 26%;
}
.r1 {
    position: absolute;
    right: 20%;
    z-index: 2;
    display: inline-block;


}
.r2 {
    position: absolute;
    right: 10%;
    z-index: 1;
    display: inline-block;

}.r3 {
    position: absolute;
right : 0.5%;
display: inline-block;

z-index: 0;

  }

  .tl3 {
    left: 5%;
    top: 17px;
  }
  .tl2 {
    left: 15%;
    top: 23px;
  }
  .tl1 {
    top: 30px;
    left: 25%;
  }
  .tr1 {
    top: 30px;

    right: 25%;
  }  .tr2 {
    top: 23px;

      right: 15%;
    }
    .tr3 {
      right: 5%;
      top: 17px;

    }
